%% -*- mode: Erlang; -*-
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
  "apps/deliverly",
  "apps/tb_perf"
]}.
{require_otp_vsn, "17"}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
  {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
  {lager_honeybadger_backend, ".*", {git, "https://github.com/fyler/lager_honeybadger_backend.git", {branch, "master"}}},
  {influx_udp, ".*", {git, "https://github.com/palkan/influx_udp.git", "master"}}
]}.
{erl_opts, [
  debug_info, 
  {i, "apps"}, 
  warn_unused_vars, 
  {parse_transform, lager_transform}
]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.
