{require_otp_vsn, "18"}.
{deps, [
  {lager, "3.2.1"},
  {ulitos, "0.3.0"},
  {influx_udp, ".*", {git, "https://github.com/silkbottle/influx_udp.git", {branch, "integer-value"}}}
]}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warn_unused_vars, warnings_as_errors]},
    {relx, [{dev_mode, false}, {include_erts, true}]}
  ]},
  {dev, [
    {deps, [{sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}}]},
    {erl_opts, [debug_info]}
  ]},
  {test, [
    {deps, [meck, eunit_formatters]},
    {erl_opts, [debug_info]}
  ]}  
]}.

{relx, [
  {release, { "tb-presence", "0.0.1" }, [deliverly, tb_visits]},
  {sys_config, "files/app.config"},
  {vm_args, "files/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{erl_opts, [
  debug_info, 
  {i, "apps"}, 
  warn_unused_vars, 
  {parse_transform, lager_transform}
]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "specs/logs/*"]}.

{eunit_opts, [
  no_tty,
  {report, {eunit_progress, [colored, profile]}}
]}.

{shell, [{apps, [deliverly, tb_visits]}, {config, "files/app.config"}]}.

{ct_opts, [
  {dir, ["apps/tb_visits/specs"]},
  {logdir, "specs/logs"}
]}.