%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["apps","deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "deliverly", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         lager,
         ulitos,
         lager_honeybadger_backend,
         deliverly,
         tb_perf
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "deliverly"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, deliverly, [{mod_cond, app}, {incl_cond, include}]},
       {app, mnesia, [{incl_cond, exclude}]},
       {app, wx, [{incl_cond, exclude}]},
       {app, edoc, [{incl_cond, exclude}]},
       {app, snmp, [{incl_cond, include}]},
       {app, os_mon, [{incl_cond, include}]},
       {app, gs, [{incl_cond, exclude}]},
       {app, erl_interface, [{incl_cond, include}]}
      ]}.

{target_dir, "deliverly"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "deliverly/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/deliverly", "bin/deliverly"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
